<div class="background">
    <div class="overlay"></div>

    <header class="header">
        <div class="header-left">
            <h1>Fresh Market Management System</h1>
            <p>Manage your forest product inventory, price, and users - all in one place.</p>
        </div>

        <div class="header-right">
            <button (click)="login()" class="login-btn">Login</button>
        </div>
    </header>

    <div class="content">
        <div class="description-box">
            <h2>Welcome!</h2>
            <p>
                This web application helps companies that purchase forest products such as mushrooms, herbs, and fruits.
                After registering your company, you can manage products, prices, users, and assign roles to users within
                your organization.
            </p>
            <a href="" routerLink="/registration" class="register-btn">Register Your Company</a>
        </div>
    </div>
</div>